@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
body{
    background-color: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
nav li{
    padding: 6px 12px;
}
.brand{
    position: absolute;
    left: 0%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
}
.brand img{
    width:40px;
    padding: 0 18px;
    border-radius: 35%;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
    margin: 23px auto;
    width: 70vw;
    padding: 34px;
    border-radius: 12px;
    background-image: url("bg.jpg");
    flex-shrink: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bottom{
    position: sticky;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center; 
    color: white;
    height: 90px;
}
.icons{
    margin-top: 14px;
    display: flex;
    color: white;
    flex-direction: row;
    ;
}
.icons i{
    cursor: pointer;
    justify-content: space-between;
    padding:0 1rem; 
}
#progressbar{
    width: 70vw;
    cursor: pointer;
    background: blue;
}
.songitem{
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songitemcontainer{
    margin-top: 24px;
}
.songitem img{
    width: 43 px;
    margin: 0 23px;

}
.songitemplay{
    padding-left: 10px;
}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    display: flex;
    flex-direction: column;
    /* left: 1vw; */
    padding-top: 2%;
    align-items: flex-start;
}
.songinfo img{
    
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
@media (max-width : 900vw) {
    .songinfo{
        position: sticky;
        display: flex;
        bottom: 0;
        /* padding-top: 2%; */
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }    
}